{% extends 'templates/base.html.twig' %}

{% block body %}
<h1 class="">Ogłoszenia</h1>

{% for car in cars %}
    <div class="my-5 border">
        <img src="{% if car.image is not null %} {{ '/images/car/' ~ car.image}} {% else %} {{ '/images/car/noimage.jpeg' }} {% endif %}">
        <p><span>Marka: </span>{{ car.mark }}</p>
        <p><span>Model: </span>{{ car.model }}</p>
        <p><span>Cena: </span>{{ car.price }}</p>
        <a class="btn btn-outline-danger" href="{{ url('car_details', {"id": car.id}) }}">Sprawdź</a>
    </div>
{% endfor %}

{% endblock %}
